<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CSTART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Inventario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Productos</a>
                    <a class="dropdown-item" href="#">Nuevo Producto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Categorias</a>
                    <a class="dropdown-item" href="#">Nueva Categoria</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Usuarios</a>
                    <a class="dropdown-item" href="#">Nuevo Usuario</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Proveedores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Proveedores</a>
                    <a class="dropdown-item" href="#">Nuevo Proveedor</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Perfil
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mi cuenta</a>
                    <a class="dropdown-item" href="#">Cerrar Sesion</a>
                </div>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-"></div>
        <form id="form1" class="col-12" enctype="multipar/form-data">

            <h2 class="font-weight-bold">Listar Usuarios</h2>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>EMPLEADO</th>
                        <th>CARGO</th>
                        <th>CONTACTO</th>
                        <th>ESTADO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Jonathan Castillo</td>
                        <td>Vendedor</td>
                        <td>22222222</td>
                        <td>Activo</td>
                        <td>
                            <button class="btn btn-outline-success" type=" submit">Editar</button>
                            <button class="btn btn-outline-danger" type="submit">Desactivar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>

    </div>
</div>
<div class="container ">
    <div class="row ">
        <div id="resultado2 "></div>
        <div class="col-3 "></div>
        <div class="col-6 ">
            <div id="resultado " class="alert alert-light " role="alert ">
            </div>
        </div>
    </div>
</div>