<div class="container">
    <div class="row">

        <div class="col-3"></div>
        <div class="col-12" id="MuestraProductos">
            <h2 class="font-weight-bold">EL CHUNCHE</h2>
            <div class="card-group">
                <div class="card" *ngFor="let categorias of categorias">
                    <img class="img" height="250px" [src]="categorias.img" class="img" [alt]="categorias.nombre" />
                    <div class="card-body">
                        <h5 class="card-title">{{ categorias.nombre }}</h5>
                        <p class="card-text">{{ categorias.descripcion }}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>


            </div>
            <script>
                var limite;
                for (limite = 0; limite < 15; limite++) {
            </script>



            <script>
                };
            </script>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="resultado2"></div>
            <div class="col-3"></div>
            <div class="col-12">
                <div id="resultado" class="alert alert-light" role="alert">
                </div>
            </div>
        </div>
    </div>
</div>