<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CSTART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inventario
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Productos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Categorias</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">Iniciar Sesion</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-3"></div>
        <div class="col-12" id="#">

            <h2 class="font-weight-bold">Categorias</h2>

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bisuteria</h5>
                        <p class="card-text">Pulseras con el mejor hilo y de todo tipo 100% artesanales</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button type="button" class="btn btn-primary">Ver mas</button>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Barro</h5>
                        <p class="card-text">Tenemos los mejores diseños de barro para que adornes tu casa o lugar de trabajo y junto a ellos con los mejores diseños.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button type="button" class="btn btn-primary">Ver mas</button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Textiles</h5>
                        <p class="card-text">Excelentes diseños de textiles en cobijas, como tambien en camisas de manta.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button type="button" class="btn btn-primary">Ver mas</button>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pinturas</h5>
                            <p class="card-text">De los mejores artistas de la pintura y en diferentes estucturas.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button type="button" class="btn btn-primary">Ver mas</button>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Yute</h5>
                            <p class="card-text">Bolsos 100% artesanales con la mejor textura y una excelente calidad.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button type="button" class="btn btn-primary">Ver mas</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cafe</h5>
                            <p class="card-text">Cafe 100% de altura y el mejor cafe de todo nuestro pais</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button type="button" class="btn btn-primary">Ver mas</button>
                        </div>
                    </div>
                </div>
                <div class="card-group">

                    <div class="card">

                    </div>
                </div>
            </div>

        </div>
        <script>
            var limite;
            for (limite = 0; limite < 15; limite++) {
        </script>



        <script>
            };
        </script>
        <div class="col-3"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="resultado2"></div>
        <div class="col-3"></div>
        <div class="col-12">
            <div id="resultado" class="alert alert-light" role="alert">
            </div>
        </div>
    </div>
</div>