<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <form id="form1" class="col-6" enctype="multipar/form-data">
            <h2 class="font-weight-bold">Registrar Venta.</h2>
            <div class="form-group">
                <label for="Nombres">Cliente</label>
                <input type="text" class="form-control" id="Nombre_Cliente" required aria-describedby="emailHelp" placeholder="Nombre del cliente">
                <small id="Nombre" class="form-text text-muted">Ingrese el nombre del cliente.</small>
                <div class="form-group">
                    <div class="form-group">
                        <label for="Vendedor">Vendedor</label>
                        <select class="form-control" id="Vendedor">
                      <option value="Reservado">Marelyn Arias</option>
                      <option value="A la venta">Jonathan Castillo</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="Apellidos">Total</label>
                        <input type="text" class="form-control" id="Apellidos" required aria-describedby="emailHelp" placeholder="Total de la venta">
                        <small id="Nombre" class="form-text text-muted">Ingrese el total de la venta.</small>
                        <div class="form-group">
                            <label for="Email">Descripcion</label>
                            <div class="form-group shadow-textarea">
                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Agregue una descripcion de los productos que cancela"></textarea>
                                <small id="Descripcion" class="form-text text-muted">Agregue una descripcion de los productos que cancela.</small>
                            </div>
                            <div class="form-group">
                                <input type="button" onclick="RegistrarVenta()" class="btn btn-outline-success" value="Guardar" />
                                <input type="button" onclick="RegistrarVenta()" class="btn btn-outline-danger" value="Cancelar" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="row">
                <div id="resultado2"></div>
                <div class="col-3"></div>
                <div class="col-6">
                    <div id="resultado" class="alert alert-light" role="alert">
                    </div>
                </div>
            </div>
        </div>