<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CSTART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Inventario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Productos</a>
                    <a class="dropdown-item" href="#">Nuevo Producto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Categorias</a>
                    <a class="dropdown-item" href="#">Nueva Categoria</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Usuarios</a>
                    <a class="dropdown-item" href="#">Nuevo Usuario</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Proveedores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Proveedores</a>
                    <a class="dropdown-item" href="#">Nuevo Proveedor</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Perfil
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mi cuenta</a>
                    <a class="dropdown-item" href="#">Cerrar Sesion</a>
                </div>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-3"></div>
        <div class="col-12" id="MuestraProductos">
            <h2 class="font-weight-bold">EL CHUNCHE</h2>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Blusa de tela</h5>
                        <p class="card-text">Blusa de tela marca Remma, hecha en El Salvador con materiales de alto nivel.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <h3><span class="badge badge-pill badge-success">Precio: $40.00</span></h3>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Botella de licor</h5>
                        <p class="card-text">Botella de licor marca Venado, 5000 ml con 15% de alchohol.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <h3><span class="badge badge-pill badge-success">Precio: $15.00</span></h3>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bolso tipico</h5>
                        <p class="card-text">Bolso tipico marca Mallet, hecho con materiales de alta calidad.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <h3><span class="badge badge-pill badge-success">Precio: $20.00</span></h3>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Blusa de tela</h5>
                            <p class="card-text">Blusa de tela marca Remma, hecha en El Salvador con materiales de alto nivel.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <h3><span class="badge badge-pill badge-success">Precio: $40.00</span></h3>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Botella de licor</h5>
                            <p class="card-text">Botella de licor marca Venado, 5000 ml con 15% de alchohol.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <h3><span class="badge badge-pill badge-success">Precio: $15.00</span></h3>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-wioAwiZFD7_hDLCQu_zhT4wghh_VGbJrW_1QbN4ZAhl9Bzhh" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bolso tipico</h5>
                            <p class="card-text">Bolso tipico marca Mallet, hecho con materiales de alta calidad.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <h3><span class="badge badge-pill badge-success">Precio: $20.00</span></h3>
                        </div>
                    </div>
                </div>

            </div>
            <script>
                var limite;
                for (limite = 0; limite < 15; limite++) {
            </script>



            <script>
                };
            </script>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="resultado2"></div>
            <div class="col-3"></div>
            <div class="col-12">
                <div id="resultado" class="alert alert-light" role="alert">
                </div>
            </div>
        </div>
    </div>